body {
    background-color: #2c2b2b;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.blog-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.blog-post {
    background-color: #222;
    padding: 15px;
    width: 300px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.blog-post:hover {
    transform: scale(1.05);
}

.blog-post img {
    width: 100%;
    border-radius: 6px;
}